.filterSearchBox {
    display: block;
    position: relative;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    min-height: 40px;
    padding: 0 9px;
    background-color: #fff;
    cursor: text;
    line-height: 38px
}

.filterSearchBox.active {
    border-color: #66afe9;
}

.filterSearchBox .search-icon {
    float: right;
    padding: 10px 0 0 10px
}

.filterSearchBox .remove-all-icon {
    float: right;
    padding: 10px 0 0 10px;
    cursor: pointer
}

.filterSearchBox .search-parameter {
    display: inline-block;
    height: 24px;
    margin: 0 7px 0 0;
    background-color: #209e91;
    padding: 0 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    line-height: 24px;
    cursor: default;
    transition: box-shadow .1s linear
}

.filterSearchBox .search-parameter:hover {
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2)
}

.filterSearchBox .search-parameter div {
    float: left;
    margin: 0 2px
}

.filterSearchBox .search-parameter .remove {
    color: #fff;
    margin-left: 5px;
    cursor: pointer
}

.filterSearchBox .search-parameter .key,
.filterSearchBox .search-parameter .value span {
    color: #fff
}

.filterSearchBox .search-parameter .value input {
    height: 24px
}

.filterSearchBox .search-parameter-input {
    display: inline-block;
    width: 100px;
    height: 24px;
    border: 0;
    margin: 0;
    padding: 0
}

.filterSearchBox .search-parameter-input:focus {
    box-shadow: none;
    outline: 0
}

.filterSearchBox .search-parameter-suggestions {
    cursor: auto;
    display: block;
    height: 120px !important;
    overflow-y: auto;
    overflow-x: hidden;
}

.filterSearchBox .search-parameter-suggestions .title {
    display: block;
    float: left;
    height: 25px;
    margin: 7px 7px 0 0;
    background-color: transparent;
    color: #888;
    font-weight: 700;
    padding: 0 5px;
    font-size: 14px;
    line-height: 25px
}

.filterSearchBox .search-parameter-suggestions .search-parameter {
    cursor: pointer;
    background-color: #bdbdbd;
    color: #fff
}




.filterSearchBox .filters {
    float: left;
    /* padding: 0 0 0 10px; */
    cursor: pointer;
    /*height: 25px;*/
    margin: 7px 10px 0 0px;
    line-height: 26px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   /*height: 29px;*/
   padding: 0 10px 0 2px; /* If you add too much padding here, the options won't show in IE */
   /*width: 268px;*/
}


.styled-select option {
   color:black;
}

.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

/* -------------------- Colors: Background */

.green   { background-color: #209e91; }

/* -------------------- Colors: Text */
.slate select   { color: #000; }
.green select   { color: #fff; }
.blue select    { color: #fff; }
.yellow select  { color: #000; }
.black select   { color: #fff; }


